<% comments.each do |comment| %>
  <div class="comment-list">
    <% if comment.user.image.attached? %>
      <%= image_tag comment.user.image.variant(resize: '30x30'), class: "user-img" %>
    <% end %>
    <%= link_to "#{comment.user.name}：", user_path(comment.user_id), class: "user-name" %>
    <%= comment.text %>
    <% if current_user.id == comment.user_id %>
      <%= link_to tweet_comment_path(comment.tweet_id, comment.id), method: :delete, remote: true, class: "destroy-btn comment-destroy" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    <% end %>
  </div>
<% end %>