<%= render "shared/header" %>

<div class="tweet-new">
  <div class="container">
    <h3 class="sub-title">編集</h3>
    <%= render partial: "shared/tweet_new",  locals: { tweet: @tweet, tweets: tweet_path, btn: "編集する" } %>
  </div>
</div>