<%= render "shared/header" %>

<div class="tweet-new">
  <div class="container">
    <h3 class="sub-title">投稿</h3>
    <%= render partial: "shared/tweet_new",  locals: { tweet: @tweet, tweets: tweets_path, btn: "投稿する" } %>
  </div>
</div>