.tweets-container {
  margin: 0 30px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.index {
  width: 40%;
}

@media (max-width: 1024px) {
  .index {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .index {
    width: 90%;
  }
}

.tweet-list {
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
}

.tweet-list + .tweet-list {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .tweet-list {
    margin-top: 60px;
  }
  .tweet-list + .tweet-list {
    margin-top: 50px;
  }
}

.tweet-listTop {
  display: flex;
  align-items: center;
}

.tweet-listTop .user-name {
  margin-left: 10px;
  color: #000;
}

.tweet-listMain {
  height: 300px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.6);
}

.tweet-listMain .tweet-img {
  height: 300px;
  width: 100%;
  opacity: 0.6;
}

.tweet-listMain .tweet-nonImg {
  height: 300px;
}

.tweet-listMain .tweet-ttl {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 15px;
  left: 15px;
}

@media (max-width: 1024px) {
  .tweet-listMain .tweet-ttl {
    font-size: 20px;
    top: 20px;
    left: 20px;
  }
}

@media (max-width: 767px) {
  .tweet-listMain .tweet-ttl {
    font-size: 22px;
  }
}

.tweet-listMain .tweet-message {
  color: #fff;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .tweet-listMain .tweet-message {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .tweet-listMain .tweet-message {
    font-size: 22px;
  }
}

.tweet-listMain .user-info {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.tweet-listMain .user-info .user-name {
  margin-left: 10px;
}

@media (max-width: 1024px) {
  .tweet-listMain .user-info {
    font-size: 22px;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 767px) {
  .tweet-listMain .user-info {
    font-size: 26px;
  }
}

.tweet-listBottom {
  padding: 10px 15px;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .tweet-listBottom {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .tweet-listBottom {
    font-size: 18px;
  }
}

.tweet-listBottom .tweet-ttl {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #262626;
}

.tweet-listBottom .tweet-txt {
  margin-bottom: 10px;
  color: #262626;
}

.tweet-listBottom .tweet-choice {
  display: flex;
}

.tweet-listBottom .tweet-job, .tweet-listBottom .tweet-status {
  color: #262626;
  font-size: 12px;
}

.tweet-listBottom .tweet-job {
  margin-right: 10px;
}

.tweet-listBottom .tweet-day {
  color: var(--main-text-color);
  font-size: 12px;
}

.tweet-option {
  display: flex;
  justify-content: space-between;
}

.tweet-btn {
  font-size: 50px;
  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 100;
  color: #fff;
  background-color: var(--main-color);
  height: 80px;
  width: 80px;
  text-align: center;
  border-radius: 1000px;
}

@media (min-width: 1025px) {
  .tweet-btn {
    box-shadow: 0 5px 0 #2b3838;
  }
  .tweet-btn:active {
    transform: translate(0, 3px);
    box-shadow: 0 2px 0 #2b3838;
  }
}

@media (max-width: 1024px) {
  .tweet-btn {
    height: 100px;
    width: 100px;
    bottom: 170px;
    right: 50px;
  }
  .tweet-btn .fa-edit {
    font-size: 30px;
  }
}

.tweet-sub {
  display: flex;
  align-items: center;
}

.flash-message {
  z-index: 700;
}

/* to-top
--------------------------------------------------------*/
.totop {
  position: fixed;
  cursor: pointer;
  transition: all .4s;
  background: white;
  border: solid 1px #b1a9a9;
  border-radius: 1000px;
  bottom: 16px;
  display: block;
  height: 50px;
  right: 16px;
  width: 50px;
  z-index: 999;
}

.totop:after {
  border-right: solid 3px #3e3e3e;
  border-top: solid 3px #3e3e3e;
  content: '';
  display: block;
  height: 15px;
  left: 15px;
  position: absolute;
  top: 20px;
  transform: rotate(-45deg);
  width: 15px;
}

@media (max-width: 1024px) {
  .totop {
    bottom: 130px;
    right: 10px;
  }
}

/* fadeIn
--------------------------------------------------------*/
.fadeIn {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(30px);
}

.fade-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*========================================================
# show
========================================================*/
.tweet-showIndex {
  margin: 0 auto;
}

/*========================================================
# edit
========================================================*/
.edit-btn {
  color: #262626;
  font-size: 16px;
  transition: 0.5s;
}

.edit-btn:hover {
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .edit-btn {
    font-size: 18px;
  }
}

/*========================================================
# destroy
========================================================*/
.destroy-btn {
  color: #262626;
  font-size: 16px;
  transition: 0.5s;
}

.destroy-btn:hover {
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .destroy-btn {
    font-size: 18px;
  }
}

/*========================================================
# comment
========================================================*/
.comment-ttl {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.comment-form .comment-field {
  width: 84%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
  outline: none;
}

.comment-form .comment-submit {
  width: 13%;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #fff;
  transition: 0.5s;
}

.comment-form .comment-submit:hover {
  opacity: 0.8;
}

.error-comment {
  text-align: center;
}

.comment-listsTtl {
  text-align: center;
  margin: 20px 0;
}

.comment-list {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 15px;
}

.comment-list .user-img {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin-right: 5px;
}

.comment-list .user-name {
  color: #262626;
}

.comment-btn {
  color: var(--main-text-color);
}

.fa-comment {
  margin-right: 3px;
}

/*========================================================
# like
========================================================*/
.like-btn {
  margin-right: 5px;
}

.delete-likeBtn {
  color: #E1255E;
}

.create-likeBtn {
  color: var(--main-text-color);
}

/*========================================================
# introduction
========================================================*/
.intro-bg {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}

.intro {
  width: 100%;
  opacity: 0.6;
  height: 550px;
  margin-bottom: 30px;
}

.intro-img {
  height: 550px;
  width: 100%;
}

.intro-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

.intro-content .intro-mainTxt {
  font-size: 26px;
  margin-bottom: 30px;
}

.intro-content .intro-txt {
  font-size: 14px;
  margin-bottom: 20px;
}

.intro-content .intro-subTxt {
  font-size: 14px;
}

/*========================================================
# recommend
========================================================*/
.slider {
  margin: 50px auto;
  width: 100%;
}

@media (max-width: 1024px) {
  .slider {
    width: 80%;
    padding-top: 20px;
    margin: 60px auto;
  }
}

@media (max-width: 767px) {
  .slider {
    width: 100%;
    margin: 70px auto;
  }
}

.slick-next {
  right: 10px !important;
  z-index: 100;
}

.slick-prev {
  left: 0 !important;
  z-index: 100;
}

@media (max-width: 1024px) {
  .slick-prev {
    left: -15px !important;
  }
}

@media (max-width: 767px) {
  .slick-prev {
    left: -25px !important;
  }
}

.slick-prev:before, .slick-next:before {
  font-size: 30px !important;
  color: #000  !important;
}

@media (max-width: 1024px) {
  .slick-prev:before, .slick-next:before {
    font-size: 50px !important;
  }
}

@media (max-width: 767px) {
  .slick-prev:before, .slick-next:before {
    font-size: 60px !important;
  }
}

.recoTweet-list {
  background-color: rgba(0, 0, 0, 0.6);
  border: outset 15px #1e8083;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  position: relative;
  transition: 0.5s;
}

.recoTweet-list:hover {
  transform: scale(1.1);
}

.recoTweet-img {
  width: 100%;
  opacity: 0.6;
  height: 18vw;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .recoTweet-img {
    height: 35vw;
  }
}

@media (max-width: 767px) {
  .recoTweet-img {
    height: 45vw;
  }
}

.recoTweet-ttl {
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
}

@media (max-width: 1024px) {
  .recoTweet-ttl {
    font-size: 24px;
    top: 20px;
    left: 20px;
  }
}

@media (max-width: 767px) {
  .recoTweet-ttl {
    font-size: 28px;
  }
}

.recoTweet-message {
  color: #fff;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 1024px) {
  .recoTweet-message {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .recoTweet-message {
    font-size: 28px;
  }
}

.recoTweet-txt {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (max-width: 1024px) {
  .recoTweet-txt {
    font-size: 16px;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 767px) {
  .recoTweet-txt {
    font-size: 18px;
  }
}

/*========================================================
# right-sideBar
========================================================*/
.right-sideBar {
  width: 25%;
  height: 1700px;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
}

@media (max-width: 1024px) {
  .right-sideBar {
    position: fixed;
    right: -80%;
    top: 50px;
    width: 60%;
    height: 1000px;
    overflow-y: scroll;
  }
  .right-sideBar.add-active {
    right: 0;
  }
}

@media (max-width: 767px) {
  .right-sideBar {
    width: 80%;
  }
}

.right-container {
  padding: 30px 50px;
}

@media (max-width: 1024px) {
  .right-container {
    padding-top: 100px;
  }
}

.rank-ttl {
  background-color: var(--main-bg-color);
  padding: 15px;
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
  text-align: center;
}

.rank-list {
  border-bottom: 1px solid var(--main-text-color);
  margin-top: 10px;
  padding: 0 5px 5px;
}

.rank-hover {
  transition: 0.5s;
}

.rank-hover:hover {
  transform: scale(1.1);
}

.rank-TweetTtl {
  text-align: center;
}

.rank-TweetUser {
  text-align: right;
}

#rank-closeBtn {
  display: none;
}

@media (max-width: 1024px) {
  #rank-closeBtn {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000px;
    font-size: 60px;
    color: var(--main-color);
  }
}

/* job-rank
--------------------------------------------------------*/
.rank-TweetStatus {
  text-align: center;
}

.job-rankTtl {
  margin-top: 80px;
}

/*========================================================
# left-sideBar
========================================================*/
.left-sideBar {
  width: 25%;
  height: 1700px;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
}

@media (max-width: 1024px) {
  .left-sideBar {
    position: fixed;
    left: -80%;
    top: 50px;
    width: 60%;
    height: 1000px;
    overflow-y: scroll;
    z-index: 999;
  }
  .left-sideBar.add-active {
    left: 0;
  }
}

@media (max-width: 767px) {
  .left-sideBar {
    width: 80%;
  }
}

.left-container {
  padding: 30px 50px;
}

@media (max-width: 1024px) {
  .left-container {
    padding-top: 100px;
  }
}

.search-subTtl {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  position: relative;
  background: #d8ebec;
  box-shadow: 0px 0px 0px 5px #d8ebec;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
}

.search-subTtl:after {
  position: absolute;
  content: '';
  left: -7px;
  top: -7px;
  border-width: 0 0 15px 15px;
  border-style: solid;
  border-color: #fff #fff #98d7db;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

#search-closeBtn {
  display: none;
}

@media (max-width: 1024px) {
  #search-closeBtn {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: 60px;
    color: var(--main-color);
  }
}

/*========================================================
# tag
========================================================*/
.tweet-tagList {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-link {
  transition: 0.5s;
}

.tag-link:hover {
  transform: scale(1.15);
}

.tag-name {
  background-color: var(--main-color);
  color: #fff;
  padding: 2px 6px;
  border-radius: 100px;
  margin-right: 5px;
}

/*========================================================
# search
========================================================*/
.search-input {
  padding: 3px;
  border: none;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  outline: none;
}

.search-submit {
  padding: 4px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 2px #45585c;
  width: 20%;
}

@media (max-width: 1024px) {
  .search-submit {
    width: 10%;
  }
}

.keyword-searchBtn:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.search-container {
  margin-top: 50px;
}

.search-form {
  text-align: center;
  margin-bottom: 60px;
}

.none-message {
  text-align: center;
}

.word-search {
  width: 70%;
}

/*========================================================
# tag-search
========================================================*/
.search-tagList {
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-tagLink {
  width: 30%;
  margin-bottom: 40px;
}

.search-tagName {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
}

#search-result {
  width: 100px;
  margin: 0 auto;
}

#search-result .child {
  background-color: var(--main-color);
  color: #fff;
  padding: 2px;
  border-radius: 100px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 1024px) {
  .search-tagContainer {
    text-align: center;
  }
}

.tag-searchBtn {
  background-color: var(--main-color);
  color: #fff;
  padding: 15px 50px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 4px #45585c;
}

.tag-searchBtn:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/*========================================================
# tag-rank
========================================================*/
.rank-tagLink {
  width: 40%;
}

/*========================================================
# job-search
========================================================*/
.job-search {
  width: 70%;
}

/*========================================================
# status-search
========================================================*/
.status-search {
  width: 70%;
}

/*========================================================
# tweet-modal
========================================================*/
#mask {
  background-color: rgba(0, 0, 0, 0.623);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 900;
}

#modal {
  position: fixed;
  width: 100%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
  z-index: 999;
  overflow-y: scroll;
}

#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

#close-btn {
  position: fixed;
  top: 0;
  right: 30%;
  z-index: 1000;
  font-size: 40px;
  color: var(--main-color);
}

.modal-txt {
  line-height: 1.8;
  font-size: 16px;
}

.txt-ttl {
  text-align: center;
}

.ribbon {
  display: inline-block;
  position: relative;
  height: 45px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 30px;
  z-index: 999;
}

.ribbon:before {
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  left: -35px;
  z-index: -2;
  border: 20px solid #90d1d1;
  border-left-color: transparent;
}

.ribbon:after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  right: -35px;
  z-index: -2;
  border: 20px solid #90d1d1;
  border-right-color: transparent;
}

.ribbon h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 45px;
  font-size: 18px;
  color: #FFF;
  background: var(--main-color);
}

.ribbon h3:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 15px #367272;
}

.ribbon h3:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-left: solid 15px #367272;
}

.tweet-modalList {
  padding: 30px;
}

/*========================================================
# footer
========================================================*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 30px 0;
  z-index: 999;
  display: none;
  font-size: 40px;
}

@media (max-width: 1024px) {
  .footer {
    display: block;
  }
}

.footer .header-item {
  padding: 0 10px;
}
/*# sourceMappingURL=tweet.css.map */