.tweets-container {
  margin: 0 30px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.index {
  width: 40%;
}

.tweet-list {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
}

.tweet-listTop {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #262626;
}

.tweet-listTop .user-img {
  border-radius: 100%;
  margin-right: 15px;
}

.tweet-listTop .user-name {
  font-weight: 600;
}

.tweet-listMain .tweet-img {
  height: 400px;
  width: 100%;
}

.tweet-listBottom {
  padding: 10px 15px;
  font-size: 14px;
}

.tweet-listBottom .tweet-ttl {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #262626;
}

.tweet-listBottom .tweet-txt {
  margin-bottom: 10px;
  color: #262626;
}

.tweet-listBottom .tweet-job, .tweet-listBottom .tweet-status {
  color: #262626;
  font-size: 12px;
  margin-bottom: 5px;
}

.tweet-listBottom .tweet-day {
  color: var(--main-text-color);
  font-size: 12px;
}

.tweet-option {
  display: flex;
  justify-content: space-between;
}

.tweet-btn {
  font-size: 50px;
  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 100;
  color: #fff;
  background-color: var(--main-color);
  height: 80px;
  width: 80px;
  text-align: center;
  border-radius: 1000px;
  transition: 1;
}

.tweet-btn:hover {
  opacity: 0.8;
}

/*========================================================
# show
========================================================*/
.tweet-showIndex {
  margin: 0 auto;
}

/*========================================================
# edit
========================================================*/
.edit-btn {
  color: #262626;
  font-size: 16px;
}

/*========================================================
# destroy
========================================================*/
.destroy-btn {
  color: #262626;
  font-size: 16px;
}

/*========================================================
# comment
========================================================*/
.comment-ttl {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.comment-form .comment-field {
  width: 84%;
  border: none;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
  outline: none;
}

.comment-form .comment-submit {
  width: 13%;
  border: none;
  border-radius: 5px;
  background-color: var(--main-color);
  color: #fff;
  transition: 0.5s;
}

.comment-form .comment-submit:hover {
  opacity: 0.8;
}

.error-comment {
  text-align: center;
}

.comment-listsTtl {
  text-align: center;
  margin: 20px 0;
}

.comment-list {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 15px;
}

.comment-list .user-img {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  margin-right: 5px;
}

.comment-list .user-name {
  color: #262626;
}

/*========================================================
# like
========================================================*/
#like-createBtn {
  color: #cf435a;
}

#like-deleteBtn {
  color: gray;
}

.like-btn {
  font-size: 16px;
  margin-right: 5px;
}

/*========================================================
# recommend
========================================================*/
.recommend {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0 40px;
}

.recoTweet-lists {
  display: flex;
  justify-content: space-around;
}

.recoTweet-list {
  height: 250px;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  transition: 0.5s;
}

.recoTweet-list:hover {
  transform: scale(1.1);
}

.recoTweet-img {
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.recoTweet-ttl {
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.recoTweet-txt {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*========================================================
# right-sideBar
========================================================*/
.right-sideBar {
  width: 25%;
  background-color: #fff;
  margin-top: 20px;
}

.right-container {
  padding: 30px 50px;
}

.rank-ttl {
  background-color: var(--main-bg-color);
  padding: 15px;
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
  text-align: center;
}

.rank-list {
  border-bottom: 1px solid var(--main-text-color);
  margin-top: 10px;
  padding: 0 5px 5px;
}

.rank-hover {
  transition: 0.5s;
}

.rank-hover:hover {
  transform: scale(1.1);
}

.rank-TweetTtl {
  text-align: center;
}

.rank-TweetUser {
  text-align: right;
}

/* job-rank
--------------------------------------------------------*/
.rank-TweetStatus {
  text-align: center;
}

.job-rankTtl {
  margin-top: 80px;
}

/*========================================================
# left-sideBar
========================================================*/
.left-sideBar {
  width: 25%;
  background-color: #fff;
  margin-top: 20px;
}

.left-container {
  padding: 30px 50px;
}

/*========================================================
# tag
========================================================*/
.tweet-tagList {
  display: flex;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tag-name {
  background-color: var(--main-color);
  color: #fff;
  padding: 2px 6px;
  border-radius: 100px;
  margin-right: 5px;
}
/*# sourceMappingURL=tweet.css.map */