.tweets-container {
  padding-top: 10px;
  margin: 0 30px;

  @media (max-width: 767px) {
    margin: 0;
  }
}

.main {
  display: flex;
  justify-content: space-around;
}

.index {
  width: 40%;

  @media (max-width: 1024px) {
    width: 80%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.tweet-list {
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;

  & + & {
    margin-top: 40px;
  }

  @media (max-width: 1024px) {
    margin-top: 10px;

    & + & {
      margin-top: 20px;
    }
  }
}

.tweet-listTop {
  display: flex;
  align-items: center;

  .user-name {
    margin-left: 10px;
    color: #000;
  }
}

.tweet-listMain {
  height: 300px;
  position: relative;
  background-color: rgba(0,0,0,0.6);

  @media (max-width: 767px) {
    height: 250px;
  } 

  .tweet-img {
    height: 300px;
    width: 100%;
    opacity: 0.6;  

    @media (max-width: 767px) {
      height: 250px;
    } 
  }

  .tweet-nonImg {
    height: 300px;
  }

  .tweet-ttl {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 15px;
    left: 15px;

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  .tweet-message {
    color: #fff;
    font-size: 18px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }

  .user-info{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    right: 15px;

    .user-name {
      margin-left: 10px;
    }

    @media (max-width: 1024px) {
      font-size: 16px;
    }
  
    @media (max-width: 767px) {
      font-size: 14px;
    }
  }
}

.tweet-listBottom {
  padding: 10px 15px;
  font-size: 14px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 767px) {
    font-size: 18px;
  }

  .tweet-ttl {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(38,38,38);
  }

  .tweet-txt {
    margin-bottom: 10px;
    color: rgb(38,38,38);
  }

  .tweet-choice {
    display: flex;
  }

  .tweet-job, .tweet-status {
    color: rgb(38,38,38);
    font-size: 12px;
  }

  .tweet-job {
    margin-right: 10px;
  }

  .tweet-day {
    color: var(--main-text-color);
    font-size: 12px;
  }
}

.tweet-option {
  display: flex;
  justify-content: space-between;
}

.tweet-btn {
  font-size: 50px;
  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 100;
  color: #fff;
  background-color: var(--main-color);
  height: 80px;
  width: 80px;
  text-align: center;
  border-radius: 1000px;

  @media (min-width: 1025px) {
    -webkit-box-shadow: 0 5px 0 #2b3838;
    box-shadow: 0 5px 0 #2b3838;

    &:active {
      -webkit-transform: translate(0, 3px);
      transform: translate(0, 3px);
      -webkit-box-shadow: 0 2px 0 #2b3838;
      box-shadow: 0 2px 0 #2b3838;
    }
  }

  @media (max-width: 1024px) {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: 40px;

    .fa-pen {
      font-size: 30px;
    }
  }

  @media (max-width: 767px) {
    height: 75px;
    width: 75px;
    bottom: 135px;
    right: 18px;

    .fa-pen {
      font-size: 45px;
    }
  }
}

.tweet-sub {
  display: flex;
  align-items: center;
}

.flash-message {
  z-index: 700;
}

/* preview
--------------------------------------------------------*/
.preview {
  width: 100%;
  height: 300px;
  margin: 20px 0;

  @media (max-width: 767px) {
    height: 37%;
    width: 37%;
  }

  @media (max-width: 600px) {
    height: 45%;
    width: 45%;
  }

  @media (max-width: 450px) {
    height: 65%;
    width: 65%;
  }

  @media (max-width: 350px) {
    height: 80%;
    width: 80%;
  }
}

/* to-top
--------------------------------------------------------*/
.totop {
  position: fixed;
  cursor: pointer;
  transition: all .4s;
  background: rgba(255, 255, 255, 1);
  border: solid 1px #b1a9a9;
  border-radius: 1000px;
  bottom: 16px;
  display: block;
  height: 50px;
  right: 16px;
  width: 50px;
	z-index: 900;
  display: none;

  &:after {
    border-right: solid 3px #3e3e3e;
    border-top: solid 3px #3e3e3e;
    content: '';
    display: block;
    height: 15px;
    left: 15px;
    position: absolute;
    top: 20px;
    transform: rotate(-45deg);
    width: 15px;
	}

  @media (max-width: 1024px) {
    bottom: 85px;
    right: 0;
  }
}

/* fadeIn
--------------------------------------------------------*/
.fadeIn {
  opacity : 0;
	visibility: hidden;
	transition: 1s;
	transform: translateY(30px);
}

.fade-active {
  opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/*========================================================
# new
========================================================*/
.tweet-newContainer {
  padding-top: 70px;
  padding-bottom: 400px;

  @media (max-width: 767px) {
    width: 95%;
    text-align: center;
  }
}

/*========================================================
# show
========================================================*/

.tweet-showIndex {
  margin: 0 auto;
}

/*========================================================
# edit
========================================================*/
.tweet-editContainer {
  padding-top: 70px;
  padding-bottom: 400px;

  @media (max-width: 767px) {
    width: 95%;
    text-align: center;
  }
}

.edit-btn {
  -webkit-appearance: none;
  color: rgb(38,38,38);
  font-size: 16px;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

/*========================================================
# destroy
========================================================*/
.destroy-btn {
  color: rgb(38,38,38);
  font-size: 16px;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }

  @media (max-width: 1024px) {
    font-size: 18px;
  }
}

/*========================================================
# comment
========================================================*/
.comment-ttl {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  height: 60px;

  @media (max-width: 1024px) {
    height: 40px;
  }
  
  @media (max-width: 767px) {
    height: 30px;
  }

  .comment-field {
    width: 84%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    outline: none;

    @media (max-width: 1024px) {
      width: 83%;
    }
  }

  .comment-submit {
    -webkit-appearance: none;
    width: 13%;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    transition: 0.5s;

    @media (max-width: 1024px) {
      width: 12%;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.error-comment {
  text-align: center;
}

.comment-listsTtl {
  text-align: center;
  margin: 20px 0;
}

.comment-list {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 15px;

  .user-img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 5px;
  }

  .user-name {
    color: rgb(38,38,38);
  }
}

.comment-btn {
  color: var(--main-text-color);
}

.fa-comment {
  margin-right: 3px;
}

.comment-destroy {
  display: block;
  margin: 0 0 0 auto;
}

/*========================================================
# like
========================================================*/
.like-btn {
  margin-right: 5px;
}

.delete-likeBtn {
  color: #E1255E;
}

.create-likeBtn {
  color: var(--main-text-color);
}

/*========================================================
# introduction
========================================================*/
.intro-bg {
  background-color: rgba(0,0,0,0.6);
  position: relative;
}

.intro {
  width: 100%;
  opacity: 0.6;
  height: 550px;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    height: 450px;
  }
}

.intro-img {
  height: 550px;
  width: 100%;

  @media (max-width: 767px) {
    height: 450px;
  }
}

.intro-content {
  position: absolute;
  top: 250px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;

  @media (max-width: 767px) {
    top: 200px;
    width: 80%;
    margin: 0 auto;
  }

  .intro-mainTxt {
    font-size: 26px;

    @media (max-width: 1024px) {
      font-size: 22px;
    }
  
    @media (max-width: 767px) {
      font-size: 16px;
    }  
  }

  .intro-txt {
    font-size: 14px; 

    @media (max-width: 1024px) {
      font-size: 12px;
    }
  
    @media (max-width: 767px) {
      font-size: 10px;
    }  
  }

  .intro-subTxt {
    font-size: 14px;

    @media (max-width: 1024px) {
      font-size: 12px;
    }
  
    @media (max-width: 767px) {
      font-size: 10px;
    }  
  }
}

/*========================================================
# recommend
========================================================*/
.slider{
  margin: 50px auto;
  width: 100%;

  @media (max-width: 1024px) {
    width: 90%;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.slick-next {
  right: 10px !important;
  z-index: 100;  
}

.slick-prev {
  left: 0 !important;
  z-index: 100;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px !important;
  color: #000  !important;
}

.recoTweet-list {
  background-color: rgba(0,0,0,0.6);
  border: outset 15px rgb(30, 128, 131);
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  position: relative;
  transition: 0.5s;

  @media (max-width: 1024px) {
    margin-bottom: 20px;
  }

  @media (max-width: 767px) {
    margin: 0;
    margin-bottom: 20px;
  }

  @media (min-width: 1025px) {
    &:hover {
      transform: scale(1.1);
    }
  }

}

.recoTweet-img {
  width: 100%;
  opacity: 0.6;
  height: 18vw;
  object-fit: cover;

  @media (max-width: 1024px) {
    height: 40vw;
  }

  @media (max-width: 767px) {
    height: 50vw;
  }
}

.recoTweet-ttl {
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 10px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.recoTweet-message {
  color: #fff;
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  @media (max-width: 1024px) {
    font-size: 16px;
  }

  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.recoTweet-txt {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;

  @media (max-width: 1024px) {
    font-size: 12px;
  }

  @media (max-width: 767px) {
    font-size: 10px;
  }
}

/*========================================================
# right-sideBar
========================================================*/
.right-sideBar {
  width: 25%;
  height: 1700px;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;

  @media (max-width: 1024px) {
    position: fixed;
    right: -100%;
    top: 30px;
    width: 60%;
    height: 1250px;
    overflow-y: scroll;
    z-index: 999;

    &.add-active {
      right: 0;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 85%;
  }
}

.right-container {
  padding: 30px 50px;

  @media (max-width: 1024px) {
    padding-top: 70px;
  }
}

.rank-ttl {
  background-color: var(--main-bg-color);
  padding: 15px;
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
  text-align: center;
}

.rank-list {
  border-bottom: 1px solid var(--main-text-color);
  margin-top: 10px;
  padding: 0 5px 5px;
}

.rank-hover {
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.rank-TweetTtl {
  text-align: center;
}

.rank-TweetUser {
  text-align: right;
}

#rank-closeBtn {
  display: none;

  @media (max-width: 1024px) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000px;
    font-size: 40px;
    color: var(--main-color);
  }
}

/* job-rank
--------------------------------------------------------*/

.rank-TweetStatus {
  text-align: center;
}

.job-rankTtl {
  margin-top: 80px;
}

/*========================================================
# left-sideBar
========================================================*/
.left-sideBar {
  width: 25%;
  height: 1700px;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;

  @media (max-width: 1024px) {
    position: fixed;
    left: -100%;
    top: 30px;
    width: 60%;
    height: 1250px;
    overflow-y: scroll;
    z-index: 999;

    &.add-active {
      left: 0;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    height: 85%;
  }
}

.left-container {
  padding: 30px 50px;

  @media (max-width: 1024px) {
    padding-top: 70px;
  }
}

.search-subTtl {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  position: relative;
  background: #d8ebec;
  box-shadow: 0px 0px 0px 5px #d8ebec;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;

  &:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #98d7db;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
}

#search-closeBtn {
  display: none;

  @media (max-width: 1024px) {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: 40px;
    color: var(--main-color);
  }
}

/*========================================================
# tag
========================================================*/
.tweet-tagList {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-link {
  transition: 0.5s;

  &:hover {
    transform: scale(1.15);
  }
}

.tag-name {
  background-color: var(--main-color);
  color: #fff;
  padding: 2px 6px;
  border-radius: 100px;
  margin-right: 5px;

  @media (max-width: 1024px) {
    font-size: 14px;
  }

  @media (max-width: 767px) {
    font-size: 12px;
    padding: 1px 4px;
  }
  
}

/*========================================================
# search
========================================================*/
.search-input {
  padding: 3px;
  border: none;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  outline: none;
}

.search-submit {
  -webkit-appearance: none;
  padding: 4px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 2px #45585c;
  width: 20%;

  @media (max-width: 1250px) {
    width: 30%;
  }

  @media (max-width: 1024px) {
    width: 15%;
  }

  @media (max-width: 320px) {
    width: 20%;
  }
}

.search-resultSelect {
  width: 300px;

  @media (max-width: 767px) {
    width: 70%;
  }
}

.search-resultSubmit {
  width: 50px;

  @media (max-width: 767px) {
    width: 12%;
  }
}

.keyword-searchBtn {

  &:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}

.search-container {
  padding-top: 100px;
  padding-bottom: 800px;
}

.search-form {
  text-align: center;
  margin-bottom: 60px;

  @media (min-width: 1025px) {
    white-space: nowrap;
  }
}

.none-message {
  text-align: center;
}

.word-search {
  width: 70%;

  @media (min-width: 1025px) {
    width: 65%;
  }
}

/*========================================================
# tag-search
========================================================*/
.search-tagList {
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-tagLink {
  width: 30%;
  margin-bottom: 40px;
}

.search-tagName {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
}

#search-result {
  width: 100px;
  margin: 0 auto;

  .child {
    background-color: var(--main-color);
    color: #fff;
    padding: 2px;
    border-radius: 100px;
    margin-top: 10px;
    text-align: center;
  }
}

.search-tagContainer {

  @media (max-width: 1024px) {
    text-align: center;
  }
}

.tag-searchBtn {
  background-color: var(--main-color);
  color: #fff;
  padding: 15px 50px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 4px #45585c;

  &:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }

  @media (min-width: 1025px) {
    width: 100%;
    padding: 15px 3px;
  }
}

/*========================================================
# tag-rank
========================================================*/
.rank-tagLink {
  width: 40%;

  @media (min-width: 1025px) {
    width: 80%;
  }

  @media (max-width: 767px) {
    width: 70%;
  }
}

/*========================================================
# job-search
========================================================*/
.job-search {
  width: 70%;
}

/*========================================================
# status-search
========================================================*/
.status-search {
  width: 70%;
}

/*========================================================
# tweet-modal
========================================================*/
#mask {
  background-color: rgba(0, 0, 0, 0.623);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 900;
}

#modal {
  position: fixed;
  width: 100%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 0.2s;
  z-index: 999;
  overflow-y: scroll;

  @media (max-width: 1024px) {
    width: 95%;
    font-size: 16px;
  }  

  @media (max-width: 767px) {
    font-size: 14px;
  }  
}

#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

#close-btn {
  position: fixed;
  top: 3%;
  right: 30%;
  z-index: 1000;
  font-size: 50px;
  color: var(--main-color);

  @media (max-width: 1024px) {
    top: 5%;
    right: 5%;
    font-size: 50px;
  }  

  @media (max-width: 767px) {
    font-size: 30px;
  }
}

.modal-txt {
  line-height: 1.8;
  font-size: 16px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }  

  @media (max-width: 767px) {
    font-size: 14px;
  }  
}

.txt-ttl {
  text-align: center;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.ribbon {
  display: inline-block;
  position: relative;
  height: 45px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 30px;
  z-index: 999;

  &:before {
    content: '';
    position: absolute;
    width: 10px;
    bottom: -10px;
    left: -35px;
    z-index: -2;
    border: 20px solid #90d1d1;
    border-left-color: transparent;
  }

  &:after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: -10px;
    right: -35px;
    z-index: -2;
    border: 20px solid #90d1d1;
    border-right-color: transparent;
  }

  h3 {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0 20px;
    line-height: 45px;
    font-size: 18px;
    color: #FFF;
    background: var(--main-color);
  }

  h3:before {
    position: absolute;
    content: '';
    top: 100%;
    left: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-right: solid 15px #367272;
  }

  h3:after {
    position: absolute;
    content: '';
    top: 100%;
    right: 0;
    border: none;
    border-bottom: solid 10px transparent;
    border-left: solid 15px #367272;
  }
}

.tweet-modalList {
  padding: 30px;  
}

/*========================================================
# footer
========================================================*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  z-index: 999;
  display: none;
  font-size: 40px;
  border-top: 1px solid #DBDBDB;

  @media (max-width: 1024px) {
    display: block;
    padding: 5px 0;
  }

  .header-item {
  
    @media (max-width: 1024px) {
      padding: 0 20px;
    } 

    @media (max-width: 767px) {
      padding: 0 5px;
      font-size: 30px;
    }
  }
}