.tweets-container {
  margin: 0 30px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.index {
  width: 40%;
}

.tweet-list {
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;

  & + & {
    margin-top: 40px;
  }
}

.tweet-listTop {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  color: rgb(38,38,38);

  .user-img {
    border-radius: 100%;
    margin-right: 15px;
  }

  .user-name {
    font-weight: 600;
  }
}

.tweet-listMain {

  .tweet-img {
    height: 300px;
    width: 100%;
  }
}

.tweet-listBottom {
  padding: 10px 15px;
  font-size: 14px;

  .tweet-ttl {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(38,38,38);
  }

  .tweet-txt {
    margin-bottom: 10px;
    color: rgb(38,38,38);
  }

  .tweet-choice {
    display: flex;
  }

  .tweet-job, .tweet-status {
    color: rgb(38,38,38);
    font-size: 12px;
  }

  .tweet-job {
    margin-right: 10px;
  }

  .tweet-day {
    color: var(--main-text-color);
    font-size: 12px;
  }
}

.tweet-option {
  display: flex;
  justify-content: space-between;
}

.tweet-btn {
  font-size: 50px;
  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 100;
  color: #fff;
  background-color: var(--main-color);
  height: 80px;
  width: 80px;
  text-align: center;
  border-radius: 1000px;
  -webkit-box-shadow: 0 5px 0 #2b3838;
  box-shadow: 0 5px 0 #2b3838;

  &:active {
    -webkit-transform: translate(0, 3px);
    transform: translate(0, 3px);
    -webkit-box-shadow: 0 2px 0 #2b3838;
    box-shadow: 0 2px 0 #2b3838;
  }
}

/*========================================================
# show
========================================================*/

.tweet-showIndex {
  margin: 0 auto;
}

/*========================================================
# edit
========================================================*/
.edit-btn {
  color: rgb(38,38,38);
  font-size: 16px;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

/*========================================================
# destroy
========================================================*/
.destroy-btn {
  color: rgb(38,38,38);
  font-size: 16px;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

/*========================================================
# comment
========================================================*/
.comment-ttl {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
}

.comment-form {
  display: flex;
  justify-content: space-between;
  height: 60px;

  .comment-field {
    width: 84%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    outline: none;
  }

  .comment-submit {
    width: 13%;
    border: none;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    transition: 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.error-comment {
  text-align: center;
}

.comment-listsTtl {
  text-align: center;
  margin: 20px 0;
}

.comment-list {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 15px;

  .user-img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 5px;
  }

  .user-name {
    color: rgb(38,38,38);
  }
}

/*========================================================
# like
========================================================*/
#like-createBtn {
  color: rgb(207, 67, 90);
}

#like-deleteBtn {
  color: gray;
}

.like-btn {
  font-size: 16px;
  margin-right: 5px;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
  }
}

/*========================================================
# recommend
========================================================*/
.recommend {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0 40px;
}

.recoTweet-lists {
  display: flex;
  justify-content: space-around;
}

.recoTweet-list {
  height: 250px;
  width: 28%;
  background-color: rgba(0,0,0,0.6);
  border: outset 15px rgb(30, 128, 131);
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.recoTweet-img {
  height: 100%;
  width: 100%;
  opacity: 0.6;
}

.recoTweet-ttl {
  color: #fff;
  font-size: 18px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.recoTweet-txt {
  color: #fff;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/*========================================================
# right-sideBar
========================================================*/
.right-sideBar {
  width: 25%;
  height: 1700px;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
}

.right-container {
  padding: 30px 50px;
}

.rank-ttl {
  background-color: var(--main-bg-color);
  padding: 15px;
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
  text-align: center;
}

.rank-list {
  border-bottom: 1px solid var(--main-text-color);
  margin-top: 10px;
  padding: 0 5px 5px;
}

.rank-hover {
  transition: 0.5s;

  &:hover {
    transform: scale(1.1);
  }
}

.rank-TweetTtl {
  text-align: center;
}

.rank-TweetUser {
  text-align: right;
}

/* job-rank
--------------------------------------------------------*/

.rank-TweetStatus {
  text-align: center;
}

.job-rankTtl {
  margin-top: 80px;
}

/*========================================================
# left-sideBar
========================================================*/
.left-sideBar {
  width: 25%;
  height: 1700px;
  background-color: #fff;
  margin-top: 20px;
  border: 1px solid #E4E4E4;
  border-radius: 3px;
}

.left-container {
  padding: 30px 50px;
}

.search-subTtl {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
  position: relative;
  background: #d8ebec;
  box-shadow: 0px 0px 0px 5px #d8ebec;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;

  &:after {
    position: absolute;
    content: '';
    left: -7px;
    top: -7px;
    border-width: 0 0 15px 15px;
    border-style: solid;
    border-color: #fff #fff #98d7db;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  }
}

/*========================================================
# tag
========================================================*/
.tweet-tagList {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag-link {
  transition: 0.5s;

  &:hover {
    transform: scale(1.15);
  }
}

.tag-name {
  background-color: var(--main-color);
  color: #fff;
  padding: 2px 6px;
  border-radius: 100px;
  margin-right: 5px;
}

/*========================================================
# search
========================================================*/
.search-input {
  padding: 3px;
  border: none;
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  outline: none;
}

.search-submit {
  padding: 4px;
  background-color: var(--main-color);
  border: none;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 2px #45585c;
}

.keyword-searchBtn {

  &:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}

.search-container {
  margin-top: 50px;
}

.search-form {
  text-align: center;
  margin-bottom: 60px;
}

.none-message {
  text-align: center;
}

/*========================================================
# tag-search
========================================================*/
.search-tagList {
  flex-wrap: wrap;
  justify-content: space-around;
}

.search-tagLink {
  width: 30%;
  margin-bottom: 40px;
}

.search-tagName {
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
}

#search-result {
  width: 100px;
  margin: 0 auto;

  .child {
    background-color: var(--main-color);
    color: #fff;
    padding: 2px;
    border-radius: 100px;
    margin-top: 10px;
    text-align: center;
  }
}

.tag-searchBtn {
  background-color: var(--main-color);
  color: #fff;
  padding: 15px 50px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  border-bottom: solid 4px #45585c;

  &:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }
}

/*========================================================
# tag-rank
========================================================*/
.rank-tagLink {
  width: 40%;
}

/*========================================================
# job-search
========================================================*/
.job-search {
  width: 70%;
}