.profiles {
  padding-top: 120px;
}

.profile-top {
  text-align: center;
}

.profile-top .profile-image {
  background-color: #fff;
  height: 150px;
  width: 150px;
  border-radius: 1000px;
}

@media (max-width: 767px) {
  .profile-top .profile-image {
    height: 100px;
    width: 100px;
  }
}

.profile-top .profile-camera {
  font-size: 60px;
  transition: 0.5;
}

.profile-top .profile-camera:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .profile-top .profile-camera {
    font-size: 40px;
  }
}

.profile-main {
  background-color: #fff;
  width: 400px;
  margin: 30px auto 0;
  padding: 30px;
}

@media (max-width: 767px) {
  .profile-main {
    width: 300px;
    padding: 20px;
  }
}

.profile-info {
  display: flex;
  justify-content: space-between;
}

.profile-info .profile-name {
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .profile-info .profile-name {
    font-size: 20px;
  }
}

.profile-info .profile-edit {
  border: 1px solid var(--main-color);
  border-radius: 100px;
  padding: 5px 10px;
  transition: 0.5s;
}

.profile-info .profile-edit:hover {
  background-color: var(--main-color);
  color: #fff;
}

@media (max-width: 767px) {
  .profile-info .profile-edit {
    padding: 5px 5px;
    font-size: 14px;
  }
}

.profile-job {
  font-size: 18px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .profile-job {
    font-size: 14px;
  }
}

.profile-status {
  font-size: 18px;
}

@media (max-width: 767px) {
  .profile-status {
    font-size: 14px;
  }
}

.profile-mainBottom {
  font-size: 16px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .profile-mainBottom {
    font-size: 14px;
    margin-top: 10px;
  }
}

.profile-bottomTtl {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

@media (max-width: 767px) {
  .profile-bottomTtl {
    margin: 30px 0;
  }
}

.profile-tweetsTtl, .profile-likesTtl {
  background-color: #fff;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  text-align: center;
  transition: 0.5s;
}

.profile-tweetsTtl:hover, .profile-likesTtl:hover {
  background-color: var(--main-color);
  color: #fff;
}

@media (max-width: 767px) {
  .profile-tweetsTtl, .profile-likesTtl {
    width: 130px;
  }
}

.profile-tweetsTtl {
  margin-right: 20px;
}

.profile-index {
  margin: 0 auto;
}

.profile-tweets {
  text-align: center;
}

/*========================================================
# edit
========================================================*/
.edit-profiles {
  padding-bottom: 700px;
}

.edit-profiles .profile-main {
  background-color: transparent;
}

.edit-profiles .user-image:hover {
  cursor: pointer;
}

.edit-profiles .edit-input {
  width: 100%;
  border: none;
  padding: 2px 5px;
}

.edit-profiles .profile-name {
  font-size: 16px;
  font-weight: normal;
  height: 25px;
}

.edit-profiles .profile-editBtn {
  text-align: center;
  margin-top: 20px;
}

.edit-profiles .profile-editBtn .edit-btn {
  background-color: var(--main-color);
  color: #fff;
}

/*========================================================
# follow
========================================================*/
.follow-btn {
  background-color: #fff;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 100px;
  padding: 5px 10px;
  transition: 0.5s;
}

.follow-btn:hover {
  background-color: var(--main-color);
  color: #fff;
}

.follow-container {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .follow-container {
    margin-top: 20px;
  }
}

.follow-indexBtn {
  border: 1px solid var(--main-color);
  margin-right: 10px;
  padding: 5px;
  border-radius: 100px;
  transition: 0.5s;
}

.follow-indexBtn:hover {
  background-color: var(--main-color);
  color: #fff;
}

.follow-index {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 1200px;
}

.follow-ttl {
  font-size: 24px;
  margin-top: 50px;
}

@media (max-width: 767px) {
  .follow-ttl {
    font-size: 20px;
  }
}

.follow-list {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.follow-name {
  font-size: 18px;
  margin-left: 10px;
}
/*# sourceMappingURL=mypage.css.map */