.registration-ttl {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

.registration-main {
  width: 400px;
  margin: 0 auto;

  @media (max-width: 767px) {
    width: 300px;
  }
}

.registration-error {
  margin-bottom: 20px;
}

.field {

  .registration-label {
    margin-bottom: 10px;
  }

  span {
    color: rgb(233, 67, 67);
  }

  .registration-field {
    width: 400px;
    height: 35px;
    padding: 0 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    outline: none;

    @media (max-width: 767px) {
      width: 300px;
    }
  }
}

.actions {
  text-align: center;
  margin-top: 50px;

  .registration-submit {
    border: none;
    border-radius: 100px;
    background-color: var(--main-color);
    color: #fff;
    padding: 15px 88px;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      opacity: 0.8;
    }

    @media (max-width: 767px) {
      padding: 15px 60px;
    }
  }
}

.registration-rogin {
  text-align: center;
  margin-top: 30px;
}