.gest-submit {
  text-align: center;
  margin-top: 30px;

  .gest-submitLink {
    background-color: rgb(241, 108, 90);
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 18px 40px;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      opacity: 0.8;
    }
  }
}

.login-flash-message {
  margin-bottom: 20px;
}